@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;
}

body *{
    box-sizing: border-box;
}

.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.main-home{
  width: 100vw;
  height: 100vh;
  display: none;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.left-login >h1 {
    font-size: 3vw;
    color: #2487ce;
}

.left-login-image{
    width: 35vw;
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #2487ce;
    max-height: 420px;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
  }
  
  /*checkbox to switch from sign up to login*/
  #chk {
    display: none;
  }
  
  /*Login*/
  .login {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .login label {
    margin: 25% 0 5%;
  }
  
  label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  .input {
    width: 100%;
    height: 40px;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  /*Register*/
  .register {
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(5%);
    transition: .8s ease-in-out;
  }
  
  .register label {
    color: #246ca0;
    transform: scale(.6);
  }
  
  #chk:checked ~ .register {
    transform: translateY(-60%);
  }
  
  #chk:checked ~ .register label {
    transform: scale(1);
    margin: 10% 0 5%;
  }
  
  #chk:checked ~ .login label {
    transform: scale(.6);
    margin: 5% 0 5%;
  }   
  /*Button*/
  .form button {
    width: 85%;
    height: 40px;
    margin: 12px auto 10%;
    color: #fff;
    background: #469fdf;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
  }
  
  .form button:hover {
    background-color: #190e7a;
  }

.right-login >h1 {
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 75%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px 100px;
    background: #675458;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #5a474c;
}

.card-login > h1{
    color: #3B0000;
    font-weight: 800;
    margin: 0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #FFFFFFFF;
    color: #000000;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #808080;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #FFFFFF;
    margin-bottom: 10px;

}

.textfield > input::placeholder{
    color: #000000;
} 

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
    color: #808080;
    background: #202020;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #808080;
}

@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }
    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-image{
        width: 150vw;
    }
    .card-login{
        width: 90%;
    }
}